
example-data/Schwartz_In_Progress.xlsx
*.pyc
.ipynb_checkpoints/detritalPy_v1.0-checkpoint.ipynb
.ipynb_checkpoints/detritalPy_v1.0-ElliotFm-checkpoint.ipynb
.ipynb_checkpoints/detritalPy_v1.0-TheresaTest-checkpoint.ipynb
.ipynb_checkpoints/detritalPy_v1.0_DB-checkpoint.ipynb
.ipynb_checkpoints/detritalPy_v1.0_Saur_et_al-checkpoint.ipynb
detritalPy_v1.0-ElliotFm.ipynb
detritalPy_v1.0-TheresaTest.ipynb
detritalPy_v1.0_DB.ipynb
detritalPy_v1.0_Saur_et_al.ipynb
example-data/ExampleDataset_1.xlsx
example-data/ExampleDataset_2.xlsx
